/* font-family: 'Roboto', sans-serif; */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header {
    padding-top: 16px;
    background-color: blueviolet;
}

.header__container {
    max-width: 1370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    text-align: center;
}

.logo {
    max-width: 187px;
    min-width: 81px;
}

.logo__pic {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 36px;
}

.nav__item {
    border-bottom: 2px solid transparent;
}

.nav__item.active {
    border-bottom-color: #FFFFFF;
}

.nav__link:hover {
    opacity: 0.8;
}

.nav__link {
    font-size: 16px;
    line-height: 1.13;
    color: #FFFFFF;
    transition: color 0.3s;
}

.addres {}

.addres__logo {}

.addres__pic {}

.address {}

.tel {}

.main {}

.hero {}

.hero__container {}

.hero__main {}

.title {}

.subtitle {}

.hero__btns {}

.btn {}

.hero__call-to-action {}

.advantages {}

.advantage {}

.advantage__pic {}

.advantage__text {}