/* font-family: 'Roboto', sans-serif; */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header {
    padding-top: 16px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid #FFFFFF;
}

.header__container {
    max-width: 1370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    text-align: center;
}

.logo {
    max-width: 187px;
    min-width: 81px;
}

.logo__pic {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 36px;
}

.nav__item {
    border-bottom: 2px solid transparent;
}

.nav__item.active {
    border-bottom-color: #FFFFFF;
}

.nav__link:hover {
    opacity: 0.8;
}

.nav__link {
    font-size: 16px;
    line-height: 1.13;
    color: #FFFFFF;
    transition: color 0.3s;
}

.addres {}

.addres__logo {}

.addres__pic {}

.address {
    display: flex;
    align-items: center;
    column-gap: 52px;
    font-style: normal;
}

.location {
    color: #FFFFFF;
}

.location::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: aqua;
    background: url(../img/icons/location.svg)bottom center/contain no-repeat;
    margin: right 2px;
}


.tel {
    color: #FFFFFF;
}

.main {}

.hero {
    height: 100vh;
    min-height: 650px;
    background: url(../img/bg/Кузовной\ ремонт\ 2\ 1.png) no-repeat center/cover;
    padding-top: 272px;
}

.hero__container {}

.hero__main {}

.title {
    color: #FFFFFF;
}

.subtitle {
    padding-top: 17px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.hero__btns {}

.btn {
    width: 170px;
    height: 44px;
    background: none;
    border: 2px #FFFFFF solid;
    border-radius: 2%;
    color: #FFFFFF;
}

.btn__hero {
    width: 304px;
    height: 44px;
    background: none;
    border: 2px #FFFFFF solid;
    border-radius: 2%;
    color: #FFFFFF;
}

.hero__call-to-action {
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 164px;
}


.advantages {
    display: flex;
    column-gap: 127px;
}

.advantage {
    border: 2px solid white;
    width: 276px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.advantage__pic {
    width: 30px;
    height: 30px;
}

.advantage__text {
    color: #FFFFFF;
    text-decoration: center;
}